img {
    width:1200px;
    margin-top:-400px;
    margin-left:-133px;  
}

#box1 {
    position:absolute;
    width:500px;
    height:500px;
    overflow: hidden;
    /*z-index:1;*/
}

#box2 {
    position:relative;
    width:500px;
    height:500px;
    overflow: hidden;
    /*z-index:2;*/
}
