body {
    background-color:rgb(20,20,20);
    margin-top:0px;
}

a:link {color:DarkRed;}      /* unvisited link */

a:visited {color:DarkRed;}  /* visited link */

a:hover {color:DarkRed;}  /* mouse over link */

a:active {color:DarkRed;}  /* selected link */

b {color:DarkRed;} 

b,a {font-family:"Monospace";font-size:large;}

table, th, td {
    border: 5px solid transparent;
}

h3 {
    position:relative;
    color:DarkRed;
    margin:0px;
    left:-40px;
}

#main {
    width: 1450px;
}

#left {
    float: left;
    width: 15%;
    overflow: hidden;
    margin-top: 100px;
}

#right {
    overflow: hidden;
    width: 85%;
    text-align: center;
}

#button {
    text-align: center;
    margin:auto;
    width: 100px;
}

#button, td {
    text-align: center;
}

#title {
    text-align: center;
}

#info {
    margin-bottom:10px;
}

#infopanel {
    text-align: center;
}

.graph {
    width: 604px;
    height: 335px;
}

.minigraph {
    width: 604px;
    height: 335px;
    text-align: center;
    vertical-align:top;
}

.extImage {
    width:845px;
    height:615px;
}

td.display {
    text-align: right;
}

td.displaytitle {
    text-align: center;
}

#banner {
    background-color: #78b5ff;
    width:1200px;
}

#content {
    text-align:center;
}

#allsky {
    width: 604px;
}

#allskygemini {
    width: 604px;
}

#box1 {
    position:relative;
    display: inline-block;
    left:0px;
    width:500px;
    height:500px;
    overflow: hidden;
    text-align: center;
    vertical-align:top;
}

#box2 {
    position:relative;
    display: inline-block;
    left:-410px;
    top:350px;
    width:80px;
    height:80px;
    overflow: hidden;
    text-align: center;
    vertical-align:top;
}

.minisat {
    width:1200px;
    margin-top:-370px;
    margin-left:-133px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
