body {
    background-color:rgb(20,20,20);
}
a:link {color:DarkRed;}      /* unvisited link */

a:visited {color:DarkRed;}  /* visited link */

a:hover {color:DarkRed;}  /* mouse over link */

a:active {color:DarkRed;}  /* selected link */

b {color:DarkRed;} 

b,a {font-family:"Monospace";font-size:large;}

table, th, td {
    border: 5px solid transparent;
}

#main {
    width: 1450px;
}

#left {
    float: left;
    width: 15%;
    overflow: hidden;
    margin-top: 100px;
}

#right {
    overflow: hidden;
    width: 85%;
    text-align: center;
}

#button {
    text-align: center;
    margin:auto;
    width: 100px;
}

#button, td {
    text-align: center;
}

#title {
    text-align: center;
}

#info {
    margin-top: 10px;
    margin-bottom:10px;
}

.graph {
    width: 604px;
    height: 335px;
}

.minigraph {
    width: 604px;
    height: 335px;
    text-align: center;
}

td.display {
    text-align: right;
}

td.displaytitle {
    text-align: center;
}

#banner {
    background-color: #78b5ff;
    width:1200px;
}
